/* nav, footer, home page code*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-home{
    margin-top: 10%;
}

#release-text{
    color: white;
    text-align: center;
}

.home-page{
    background-color: #190518;
}

h1 {
    font-family: "Rubik", sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#welcome-text {
    color: red;
    font-weight: bolder;
}

.games-hub-intro {
    color: white;
    /* White text */
    display: flex;
    /* Align the children (intro-text and intro-image) side by side */
    flex-direction: column;
    justify-content: space-between;
    /* Separate the text and image */
    padding: 50px;
    /* Padding around the content */
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-text {
    width: 50%;
    /* Width of the text container */
    padding-right: 20px;
    /* Add some padding between the text and the image */
}


.controller-image {
    margin-top: -35%;
    margin-left: 65%;
    display: flex;
    width: auto;
    /* Width is set automatically to respect aspect ratio */
    max-width: 100%;
    /* Ensure it does not overflow its container */
    max-height: 900px;
    /* Maximum height of the image */
}

.games-hub-intro h1 {
    font-size: 2.5em;
    /* Large font size for the main title */
    margin-bottom: 0.5em;
    /* Space below the title */
}

.games-hub-intro h2 {
    font-size: 1.5em;
    /* Slightly smaller font size for the subtitle */
    margin-bottom: 1em;
    /* Space below the subtitle */
}

.games-hub-intro p {
    font-size: 1em;
    /* Regular font size for the paragraph */
    margin-bottom: 1.5em;
    /* Space below the paragraph */
}

.btn-details {
    background-color: #E53E3E;
    /* Blue background for the button */
    color: white;
    /* White text for the button */
    padding: 10px 30px;
    /* Padding inside the button */
    text-decoration: none;
    /* Remove underline from the link */
    border-radius: 5px;
    /* Rounded corners for the button */
    display: inline-block;
    /* Make the link behave like a block to apply padding */
    font-weight: bold;
    /* Bold font for the button text */
    border-radius: 40px;
}

.btn-details:hover {
    background-color: #C53030;
    /* Darker blue background for the button on hover */
    transition: background-color 0.3s;
    /* Smooth transition for the background color */
}

header {
    background-color: #190518;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin-top: -50px;
    padding: 10px;
    top: 0;
    width: 100%;
}

nav {
    margin-top: -50px;
    padding: 10px;
    top: 0;
    width: 100%;
}

nav ul li a.active {
    color: red;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: blue;
    /* Changed from blue to underline */
}

section {
    padding: 60px 20px 20px;
    /* Adjusted padding to accommodate the navigation */
    text-align: center;
}


#logo {
    width: 20%;
    height: 20%;
    margin-left: -5%;
}


.footer-flex {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    background-color: #1A1A1A;
    color: white;
    padding: 20px;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    flex-direction: column;
}

#download-app {
    background-color: #E53E3E;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    max-width: 200px;
    width: auto;
    display: inline-block;
}

#download-app:hover {
    background-color: #C53030;
}

.payment-methods {
    display: flex;
    align-items: center;
    justify-content: left;
}

.payment-methods span {
    margin-right: 10px;
}

.payment {
    width: 40px;
    height: auto;
    margin-left: 10px;
    display: inline-block;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
}

.links-column {
    margin-right: 20px;
}

.links-column a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-bottom {
    text-align: right;
    margin-top: 20px;
}


/* News page styles */

.container-body {
    background: linear-gradient(180deg, #190518 0%, rgb(25, 5, 24) 100%);
}

.container-game {
    display: grid;
    gap: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 20px;
}

.subTitle {
    font-size: 16px;
}

.row {
    justify-content: space-around;
    grid-row-gap: 30px;
    margin-bottom: 10px;
}

.card-game {
    display: grid;
    position: relative;
    height: 200px;
    width: 150px;
}

.card-game .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
    border-radius: 10.01px;
}

.card-game .front {
    transform: perspective(600px) rotateY(0deg);
}

.card-game .front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-game .back {
    display: grid;
    transform: perspective(600px) rotateY(180deg);
    background: rgb(21, 21, 21);
    color: white;
    text-align: center;
    align-items: center;
}

.card-game:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card-game:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.container-event {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.card-event {
    height: auto;
    width: 250px;
}

#cardBox {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.cardBoxUp {
    display: flex;
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background: black;
    margin-bottom: 50px;
}

.card-event {
    background: linear-gradient(180deg, #190518 0%, rgb(25, 5, 24) 100%);
}

.title {
    color: white;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.marTop-10 {
    margin-top: 10px;
}

.card-body {
    margin-top: 20px;
}

.titleUp {
    border-bottom: 2px solid white;
    width: 380px;
    color: white;
    padding-top: 30px;
}

.cardText {
    color: white;
    width: 300px;
}

.imgTour {
    height: 500px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.alldBtn {
    width: 220px;
    height: 40px;
    background-color: #EA103C;
    border-radius: 40px;
    padding: 10px 30px;
    border: none;
    color: white;
    line-height: 5px;
}

.alldBtn:hover {
    background-color: #C33B3B;
}

.readBtn {
    width: 170px;
    height: 40px;
    background-color: #EA103C;
    border-radius: 40px;
    padding: 10px;
    border: none;
    color: white;
    line-height: 5px;
    margin-left: -10px;
}

.readBtn:hover {
    background-color: #C33B3B;
}

.icon {
    fill: white;
}

.card {
    height: 500px;
}

.match {
    color: grey;
}

.gamepop {
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.832);
    backdrop-filter: blur(10px);
    padding: 50px 20px;
    min-height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 60;
    top: 90%;
    color: white;
    display: none;
    z-index: 999;
}

.textNews {
    padding: 50px 50px;
}

#closepop1 {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#closepop2 {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#closepop3 {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.imgpop {
    padding-top: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
    margin: 20px;
}

table th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

table td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    width: 500px;
}

th {
    background-color: #EA103C;
}

.vibrate-1 {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* Services page CSS */
p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF
}

body,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.services-header h1 {
    color: #FFFFFF
}

.services-teamh2 {
    margin-bottom: 30px;
    padding-top: 30px;
}

.services-body {
    background: linear-gradient(180deg, #190518 0%, rgb(25, 5, 24) 100%);
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
}

.stat-item img {
    width: 50px;
    margin-bottom: 10px;
}

.backTeam {
    background-color: #1A1A1A;
.divider {
    height: 50px;
    width: 1px;
    background-color: #fff;
    opacity: 0.5;
}


.card_feed:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; 
}

.card_feed:active {
    transform: scale(0.95); 
    transition: transform 0.1s; 
}

.padTop-30 {
    padding-top: 30px;
}

.padBottom-30 {
    padding-bottom: 30px;
}

.marTop-30 {
    margin-top: 30px;
}

.padTop-30 {
    padding-top: 30px;
}

.padBottom-30 {
    padding-bottom: 30px;
}

.center {
    text-align: center;
    color: white;
}

.team-photo {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.team-member {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
}

.team-member:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.team-member:active {
    transform: translateY(-5px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
}


.divider {
    height: 50%;
    width: 1px;
    opacity: 0.5;
}

.team-section,
h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p {
    font-size: 0.9em;
    opacity: 0.75;
}

.subscribe-section {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-around;
    padding: 30px;
}

.text-container {
    text-align: left;
}

.subscribe-form {
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #E84343;
    color: #fff;
    font-size: 1em;
    cursor: pointer;

}

.submitBtn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button:hover {
    background-color: #C33B3B;
}

@media (max-width: 768px) {
    .subscribe-section {
        flex-direction: column;
    }

    .text-container {
        margin-bottom: 20px;
    }
}

.container_review {
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.review_title {
    padding-top: 40px;
    text-align: center;
    color: white;
}

.box_icon {
    display: flex;
    margin-top: 50px;
}

.review_circle {
    display: flex;
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-top: 30px;
}

.review_icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
}

.review_text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.review_number {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -10px;
}

.generalFont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.line {
    border-right: 2px solid white;
    margin-right: 70px;
    height: 130px;
}

@media screen and (max-width: 1200px) {
    .line {
        border-right: 2px solid rgba(255, 255, 255, 0);
        margin-right: 70px;
        height: 130px;
    }
}

.feedback {
    margin-top: 60px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card_feed {
    width: 410px;
    border: 2px white solid;
    border-radius: 20px;
    padding: 30px 30px;
    margin-top: 60px;
}

.cont_feed {
    display: flex;
}

.user_photo {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.name {
    width: 250px;
    font-size: 18px;
    padding-left: 20px;
}

.rate {
    font-weight: bolder;
}

.star {
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.iconStar {
    width: 100%;
    height: 100%;
}

.descrip_feed {
    margin-top: 20px;
    width: 350px;
}

/* contact US CSS */
.contact-map {
    font-family: Arial, sans-serif;
    color: #fff;
}

.contact-img {
    width: 65%;
}

.contact-form {
    padding: 40px;
    color: #fff;
}

.contact-form .form-control {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;/
}

.contact-form label {
    font-family: Arial, sans-serif;
    display: block;
    margin-bottom: .5rem;
    color: #fff;
    display: block;
    margin-bottom: .5rem;
    color: #fff;
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 10px;
}


.contact-form .form-control::placeholder {
    color: #000;
    opacity: 1;
    color: #000;
    opacity: 1;
}


.contact-form .form-control:focus {
    color: #000;
    background-color: #fff;
    background-color: #fff;
    border-color: #fff;
    outline: none;
    outline: none;
}


.contact-form .form-control#message {
    resize: none;
    height: 230px;
}


.contact-form button.btn {
    background-color: #EA103C;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    line-height: 5px;
}


.contact-form button.btn:hover {
    background-color: #cc0055;
    cursor: pointer;
}